{% extends "sentry_youtrack/create_issue_form.html" %}
{% load i18n %}

{% block yt_issue_js %}
    <script>
    $(function(){
        function format(state) {
            return "<b>" + state.id +"</b> " + state.summary + " (" + state.state + ")"
        }
        $("#id_issue").select2({
            minimumInputLength: 0,
            ajax: {
                url: "?action=project_issues",
                quietMillis: 100,
                type: 'post',
                dataType: 'json',
                data: function (term, page) {
                    return {
                        q: term,
                        page_limit: 15,
                        page: page
                    };
                },
                results: function (data, page) {
                    return {results: data.issues, more: data.more};
                }
            },
            formatResult: format,
            formatSelection: format
        });
    });
    </script>
{% endblock %}

{% block submit_button %}
    <button type="submit" class="btn btn-primary">{% trans "Assign issue" %}</button>
{% endblock %}