{% extends "sentry/groups/details.html" %}

{% load i18n crispy_forms_filters %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block inner %}
<div class="span12">
    <div class="page-header">
        <h3>{{ title }}</h3>
    </div>

    {% if form.non_field_errors %}
    <div class="alert alert-block alert-error">
        <ul>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}


    <form id='create-issue' class="form-horizontal" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form-fields">
            {{ form|crispy }}
            <p class="actions">
                {% block submit_button %}
                    <button type="submit" class="btn btn-primary">{% trans "Create issue" %}</button>
                {% endblock %}
            </p>
        </div>
    </form>
</div>
{% endblock %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
        .save-as-default {
            opacity: 0.7;
        }
        .save-as-default:hover {
            opacity: 0.5;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    {% block yt_issue_js %}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.2/spin.min.js"></script>
        <script type="text/javascript">
            
            var SAVE_AS_DEFAULT_BUTTON_MSG = "{% trans 'Save this as a default value' %}";

            function save_as_default(el, field, value) {

                $.ajax({
                    'url': "?action=save_field_as_default",
                    'type': "POST",
                    'data': {
                        field: field,
                        value: value
                    },
                    beforeSend: function( xhr ) {
                        el.fadeOut(200);
                    }
                }).done(function(data){
                    el.fadeIn(200);
                });
            }

            function init_action_buttons(container) {
                container.find(".project-field[data-field]").each(function(){
                    var action_button = $("<button>")
                            .attr('type', 'button')
                            .attr('title', SAVE_AS_DEFAULT_BUTTON_MSG)
                            .attr('data-placement', 'right')
                            .addClass('btn-link')
                            .addClass('save-as-default')
                            .html($('<i>').addClass('icon-share'));
                    $(this).after(action_button);
                });
                $('button[title]').tooltip();
            }

            function load_issue_form() {
                var spinner = new Spinner().spin();

                $.ajax({
                    'url': "?form=1",
                    beforeSend: function( xhr ) {
                        $(".form-fields").html(spinner.el);
                        $(".spinner").css('left', '50%');
                    }
                }).done(function(data){
                    var container = $(".form-fields");
                    var form = $("#create-issue .form-fields", data);
                    container.html(form);
                    container.find("select").addClass('span3').select2();
                    init_action_buttons(container);
                });
            }

            $(function(){
                var container = $("#create-issue");

                container.delegate(".save-as-default", "click", function(){
                    var field = $(this).parents('.controls').find('.project-field[data-field]');
                    save_as_default($(this), field.data('field'), String(field.val()));
                });

                init_action_buttons(container);
            });
        </script>

        {% if not request.POST %}
            <script>
                $(function(){
                    load_issue_form();
                });
            </script>
        {% endif %}
    {% endblock %}
{% endblock %}
