{% load i18n crispy_forms_tags %}

<form class="form-horizontal" action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="plugin" value="{{ plugin.slug }}" />
    {{ form|crispy }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
    </div>
</form>

<script type="text/javascript">
    $(document).ready(function(){
        var msg = "{{ form.second_step_msg }}";

        if(msg) {
            var msg_box = $("<div>")
                .addClass("alert")
                .addClass("alert-block")
                .addClass("alert-info")
                .append($("<p>").html(msg));
            $("#messages").append(msg_box);
        }
    });
</script>
